
/* --------------共有 部分----------------------- */
.btn {
  margin-top:30px
}

.btn-sight {
  color:white;
  background-color:red;
  text-align: center;
  width: 120PX;
  display:block;
  padding: 10px 15px;
   margin: 0 auto;
  font-size: 8px;
  font-weight: bold;
  transition: 0.4s;
}

.btn-sight:hover {
 opacity: 0.6;
 transition: 0.4s;
}

/* --------------HEADER 部分----------------------- */
.section0 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position:fixed;
  width: 100%;
  padding: 0 30px;
  height: 70px;
  left: 0;
  top: 0;
  z-index: 2;
}

.company-logo__name {
  width: 70px; 
  padding-right: 180px;   
}

.nav__list {
  display: flex;
  font-weight: bold;  
}

.nav__list-item:not(:last-child) {
  margin-right: 10px;
  font-size: 15px;  
}

a {
  text-decoration: none;
  color: black;
}

/* ---------------MAIN 部分------------------------------------------ */

/*----------------SECTION1 Ahead-------------------------*/
.section1{
  height: 250PX;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/mv.png) center/cover;   
  color:white; 
}

.section1__slogan {
 width: 100%;
 margin: 0 auto; 
}

.section1__ideal {
 font-weight: bold;
 font-size: 30px;
 text-align: center;
}

/*----------------SECTION3 Service-------------------------*/  
.section3 {
  margin-top:80px;
  margin: 0 10%;
}

.wrapper-1 {
  padding: 80px 0;
  width: 100%;
  margin: 0 auto;
}

.service-img {
  padding: 20px 0;
  border-top: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-img:last-child {
  border-bottom: 1px solid black;
}

.service__img__card {
  width: 290px;
}

.service__text__box {
  width: calc(100% - 330px);
}

img {
 width: 100%;
 height: auto;
}

.service__text__box__title {
  font-weight: bold;
  padding: 8px 0;
}

.service__text__box__comment {
  font-size: 14px;
  padding-bottom: 5px;
  line-height: 20px;
}

/*----------------SECTION8 Inquiry-------------------------*/  
.section8 {
  background-color:rgb(252, 244, 244);
  margin-top: 80px;
  height: 200px;
}

.inquiry-title-jp {
  padding-top: 50px;
  text-align: center;
}

.inquiry-massage {
  text-align: center;
  padding-top: 20px;
  font-size: 10px;
}

/*----------------footer-------------------------*/  
footer {
  background-color:black;
  width: 100%; 
}

.footer-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 10px 0;
}

.footer-copyright {
  display:inline-block;
  font-size: 5px;
  color: white;
  margin-left: 20px;
  padding-left: 20px;
}

.footer-nav-list {
  width: 100%;
  display: flex;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 8px; 
}

li {
  margin-left: 10px;
  padding-left: 8px;
}

li:not(:first-child) {
  border-left: 1px solid white;
}

.footer-nav-item a {
  text-decoration: none;
  color: white;
}

.drawer {
  display: none;
}

/* レスポンシブ (1000px以上)*/
@media screen and (max-width: 768px) {
  
  .wrapper-1 {
  width: 80%;
  display: block;
  justify-content: start;
  margin-left: 10%;
}

.wrapper-2 {
 width: 80%;
  display: block;
  justify-content: start;
  margin-left: 10%; 
  
}
.wrapper-4{
  display: block;
  justify-content: start;
  width: 100%;
  margin: 0 10% 0 10%;
}

.blog-img-card {
  width: 80%;
}
/*----------------事業内容-------------------------*/  
.service__text__box {
  width: 100%;
}

.service__img__card {
  width: 100%;
}

/*----------------footer-------------------------*/  
.footer-line {
  display: block;
  justify-content: space-between;
  
  align-items: center;
  width: 90%;
  padding: 10px 0;
}

.footer-nav-list {
  width: 100%;
  display: block;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 8px;  
}

.footer-copyright {
  display:block;
  font-size: 5px;
  color: white;
  text-align: center;
  padding: 15px 0;
}
li {
  text-align: center;
}
 
li:not(:first-child) {
  border-left:none;
  padding-top:15px;
}
.nav__list {
  display:none;
}

/*----------------Hamburger-------------------------*/  
.navkey a{
  text-decoration: none;
  color: blue
}
.navkey {
  position: absolute;
  height: 100vh;
  width: 100%;
  left: -100%;
  background:white;
  transition: .7s;
  text-align: center;
  z-index: 2;
  top: 10px;
}
.navkey ul{
  padding-top: 80px;
}
.navkey ul li{
  list-style-type: none;
  margin-top: 50px;
}
.menu {
  display: inline-block;
  width: 36px;
  height: 32px;
  cursor: pointer;
  position: relative;
  left: 10px;
  top: 0;
}
.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  transition: 0.5s;
  z-index: 10;
}
.menu__line--top {
  top: 0;
}
.menu__line--middle {
  top: 14px;
}
.menu__line--bottom {
  bottom: 0;
}
.menu.open span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}
.menu.open span:nth-of-type(2) {
  opacity: 0;
}
.menu.open span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}
.in{
  transform: translateX(100%);
}
.drawer {
  display: inline;
}
}

