
body {
  max-width: 1000px;

}

/* --------------HEADER 部分----------------------- */
.section0 {
  display: flex;
  justify-content: space-between;
  margin: 10px 30px;
  align-items: center;
}
.company-logo__name {
  display:inline-block;
  width: 50px;
  height: 20px;
  margin-top: 10px;
}
.nav__list {
  display: flex;
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
}

li {
  margin-left: 30px;
}

a {
  text-decoration: none;
  color: black;
}

/* ---------------MAIN 部分------------------------------------------ */

/*----------------SECTION1 Ahead-------------------------*/
.section1 {
  background-image: url(../img/mv.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: 100%;
}

.section1__ideal {
  font-size: 50px;
  color: white;
  margin-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  padding-top: 300px;
}

.section1__slogan-sub {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  padding: 5px 0;
  color:white;
  line-height: 30px;
  margin-bottom: 50px;
  text-align: center;
}



/*----------------SECTION2 About-------------------------*/
.section2 {
 background-color:black; 
}

.section2__will {
  margin-left: 80px;
 
}

.section2__will-title {
  font-size: 28px;
  color: white;
  margin-bottom: 50px;
  padding-top: 50px;
}

.section2__will-exple {
  display: inline-block;
  width: 90%;
  font-size: 16px;
  padding: 5px 0;
  color:white;
  line-height: 30px;
  margin-bottom: 50px;
}



.section1__slogan-sub {
  position: absolute;
  font-weight: bold;
  font-size: 18px;
  color:white;
  top: 370px;
  left: 270px;
}










/*----------------SECTION3 Service-------------------------*/  
.section3 {
  margin-top:80px;
  margin: 0 10%;
}
.section3__title {
  margin-bottom: 30px;
  font-size: 20px;
  color:black;
  text-align: center;
}

.wrapper-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}

.wrapper-2 {
width: 100%;
  display: flex;
  justify-content: space-between;
  
}

img {
   width: 100%;
}

.service-img1 .service-img2 .service-img3 .service-img4 {
   color: black;
   
}
.service-img1 {
  margin-right: 3%;
}
.service-img3 {
  margin-right: 3%;
}
.service__text__box__title {
  font-weight: bold;
  padding: 8px 0;
}
.service__text__box__comment {
  font-size: 14px;
  padding-bottom: 40px;
  line-height: 20px;
}

.btn {
  margin-top:30px
}

.btn-sight {
  color:white;
  background-color:red;
  text-align: center;
  width: 120PX;
  display:block;
  padding: 10px 15px;
   margin: 0 auto;
  font-size: 8px;
  font-weight: bold;
  transition: 0.4s;
}

.btn-sight:hover {
 opacity: 0.6;
 transition: 0.4s;
}




/*----------------SECTION4 News-------------------------*/
.section4 {
  background-color:black;
  margin: 80px 0;
  height:370px;
  width: 100%;
}

.wrapper__3 {
  margin:0 10%;
}
.news__title {
  color: white;
  font-size: 24px;
}
.news__header {
  display:flex;
  justify-content: space-between;
  margin-bottom:20px;
  padding-top: 80px;
}

.news__list {
  margin-bottom: 80px;
  
}
.news__list a {
  display: block;
  height: 20px;
  background-color:rgba(245, 239, 239, 0.973);
  margin-bottom: 10px;
  padding-top: 15px;
  font-size: 10px;
  }

.news__list__item {
 padding-left: 20px;
 transition: 0.4s;
}

.news__list__item span {
  padding-left: 20px;
  font-weight: bold;
}
.news__title__btn {
 color:white;
  background-color:red;
  text-align: center;
  width: 100PX;
  display:block;
  padding: 4px 6px;
  font-size: 4px;
  font-weight: bold;
  transition: 0.4s;
}
.news__title__btn:hover {
  opacity: 0.6;
  transition: 0.4s;
} 

.news__list__item:hover {
  opacity: 0.6;
  transition: 0.4s;
}

/*----------------SECTION5 Blog-------------------------*/ 
.section5 {
  margin-bottom: 80px;
  width: 100%;
}

.blog-title-jp {
  text-align: center;
  font-size: 20px;
  color:black;
  padding-bottom:30px;
}

.wrapper-4{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 10% 0 10%;
}

img {
  width: 100%;
}
.blog-img-card {
  position: relative;
  width:32%;
  height: auto;
  
}
.blog-date {
  margin-top: 5px;
  font-size: 10px;
}

.blog-comment {
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 0;
}

.blog-img:hover {
 opacity: 0.6;
 transition: 0.4s;
}

.blog-comment:hover {
 opacity: 0.6;
 transition: 0.4s; 
}


/*----------------SECTION7 Employee-------------------------*/  
.employee {
  width: 100%;
} 
.card4-5 {
  display: flex;
  justify-content: space-between;
}
.employee-item {
 position: relative;
 width: 100%;
 height: 130px;
 display: inline-block;
 transition: 2s;
}

.employee-item-first {
  background-color: red;
  background-size: cover;
}

.employee-item-second {
  background-color: black;
  background-size: cover;
}
.employee-title {
  position: absolute;
  color: white;
  font-size: 15px;
   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.employee-item:hover {
  opacity: 0.6;
  transition: 0.4s;
}

/*----------------SECTION8 Inquiry-------------------------*/  

.section8 {
  background-color:rgb(252, 244, 244);
  margin-top: 80px;
  height: 200px;
}

.inquiry-title-jp {
  padding-top: 50px;
  text-align: center;
}

.inquiry-massage {
  text-align: center;
  padding-top: 20px;
  font-size: 10px;
}

/*----------------footer-------------------------*/  
footer {
  background-color:black;
  width: 100%; 
}

.footer-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 10px 0;
}

.footer-copyright {
  display:inline-block;
  font-size: 5px;
  color: white;
  margin-left: 20px;
  padding-left: 20px;
 }


.footer-nav-list {
  width: 100%;
  display: flex;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 8px; 
}

li {
  margin-left: 10px;
   padding-left: 8px;
}

li:not(:first-child) {
  border-left: 1px solid white;
}

.footer-nav-item a {
  text-decoration: none;
  color: white;
}
.drawer {
  display: none;
}







/* レスポンシブ (1000px以上)*/
@media screen and (max-width: 768px) {
.wrapper-1 {
  width: 80%;
  display: block;
  justify-content: start;
  margin-left: 10%;
}

.wrapper-2 {
 width: 80%;
  display: block;
  justify-content: start;
  margin-left: 10%; 
  display: block;
}
.wrapper-4{
  display: block;
  justify-content: start;
  width: 100%;
  margin: 0 10% 0 10%;
}

.blog-img-card {
  width: 80%;
}
/*----------------footer-------------------------*/  
.footer-line {
  display: block;
  justify-content: space-between;
  
  align-items: center;
  width: 90%;
  padding: 10px 0;
}

.footer-nav-list {
  width: 100%;
  display: block;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 8px;  
}

.footer-copyright {
  display:block;
  font-size: 5px;
  color: white;
  text-align: center;
  padding: 15px 0;
}
li {
  text-align: center;
}
 
li:not(:first-child) {
  border-left:none;
  padding-top:15px;
}
.nav__list {
  display:none;
}

/*----------------Hamburger-------------------------*/  
.navkey a{
  text-decoration: none;
  color: blue
}
.navkey {
  position: absolute;
  height: 100vh;
  width: 100%;
  left: -100%;
  background: #eee;
  transition: .7s;
  text-align: center;
  z-index: 1;
}
.navkey ul{
  padding-top: 80px;
}
.navkey ul li{
  list-style-type: none;
  margin-top: 50px;
}
.menu {
  display: inline-block;
  width: 36px;
  height: 32px;
  cursor: pointer;
  position: relative;
  left: 20px;
  top: 20px;
}
.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  transition: 0.5s;
}
.menu__line--top {
  top: 0;
}
.menu__line--middle {
  top: 14px;
}
.menu__line--bottom {
  bottom: 0;
}
.menu.open span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}
.menu.open span:nth-of-type(2) {
  opacity: 0;
}
.menu.open span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}
.in{
  transform: translateX(100%);
}

}

